<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="chat-box">
        <div id="data-log"></div>
        <span class="divider"></span>
        <div class="send-chat">
            <input class="user-input" name="user-input" type="text" placeholder="Type a message" >
            <button class="send-btn" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        const dataLogDisplay = document.getElementById('data-log');

        const sendMessage = () => {
            const userInputElement = document.querySelector('input[name="user-input"]');
            const userInput = userInputElement.value;
            if (userInput === '') {
                alert('Cannot be blank');
                return;
            };
            addData('You: ' + userInput);
            userInputElement.value = '';

            setTimeout(() => {
                $.ajax({
                url: '/api/chat',
                type: 'POST',
                data: {
                    user_input: userInput
                },
                success: (res) => {
                    addData('Elon Musk: ' + res.chatbot_response);
                },
                error: (err) => {
                    alert(err);
                }
            })
            }, 500);
        }

        const addData = (input) => {
            dataLogDisplay.appendChild(document.createElement('div')).innerHTML = input;
            dataLogDisplay.scrollTop = dataLogDisplay.scrollHeight;
        }

    </script>
</body>
</html>
